<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testlibrary">

    <application>
        <activity android:name="com.example.testlibrary.TestMainActivity" />
        <activity android:name="com.example.testlibrary.CoroutineActivity" />
        <activity android:name="com.example.testlibrary.LambdaActivity" />
        <activity android:name="com.example.testlibrary.TestSVGActivity" />
        <activity android:name="com.example.testlibrary.Rxjava2UseActivity" />
        <activity android:name="com.example.testlibrary.ReflectionActivity" />
        <activity android:name="com.example.testlibrary.TestScreenRecordActivity" />
        <activity android:name="com.example.testlibrary.TestBezierActivity" />
        <activity android:name="com.example.testlibrary.TestPropertyAnimationActivity" />
        <activity android:name="com.example.testlibrary.TestCustomInputBoxActivity" />
        <activity android:name="com.example.testlibrary.TestCalendarViewActivity" />
        <activity android:name="com.example.testlibrary.TestTabLayoutActivity" />
        <activity android:name="com.example.testlibrary.TestCoordinatorTabLayout" />
        <activity android:name="com.example.testlibrary.TestsAvatarsOverlapActivity" />
        <activity android:name="com.example.testlibrary.TestCalendarEventManagerActivity" />
        <activity android:name="com.example.testlibrary.TestShadowBgActivity" />
        <activity android:name="com.example.testlibrary.loadsir.TestLoadSirActivity" />
        <activity android:name="com.example.testlibrary.loadsir.NormalActivity" />
        <activity android:name="com.example.testlibrary.loadsir.FragmentNormalActivity" />

        <activity android:name="com.example.testlibrary.TestServiceStartupModeActivity" />

        <service android:name="com.example.baselibrary.utils.screenrecord.RecordService" />

        <service android:name="com.example.testlibrary.service.MyServiceUnBind" />
        <service android:name="com.example.testlibrary.service.MyServiceBind" />
        <service
            android:name="com.example.testlibrary.service.TestAIDLService"
            android:process=":haha" />
        <service
            android:name="com.example.testlibrary.service.MessengerService"
            android:process=":haha2" />

        <provider
            android:name="com.example.testlibrary.contentprovider.PeopleProvider"
            android:authorities="com.example.peopleprovider"
            android:exported="true" />
    </application>

</manifest>