<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testlibrary">

    <application>
        <activity
            android:name="com.example.testlibrary.TestMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.testlibrary.CoroutineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.testlibrary.LambdaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.testlibrary.TestSVGActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.testlibrary.Rxjava2UseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.testlibrary.ReflectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.testlibrary.TestScreenRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.testlibrary.TestBezierActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.testlibrary.TestPropertyAnimationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.testlibrary.TestCustomInputBoxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.testlibrary.TestCalendarViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.testlibrary.TestTabLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.testlibrary.TestCoordinatorTabLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.testlibrary.TestsAvatarsOverlapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.testlibrary.TestCalendarEventManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.testlibrary.TestShadowBgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.testlibrary.loadsir.TestLoadSirActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.testlibrary.loadsir.NormalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.testlibrary.loadsir.FragmentNormalActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.testlibrary.TestServiceStartupModeActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.example.baselibrary.utils.screenrecord.RecordService" />

        <service android:name="com.example.testlibrary.service.MyServiceUnBind" />
        <service android:name="com.example.testlibrary.service.MyServiceBind" />
        <service
            android:name="com.example.testlibrary.service.TestAIDLService"
            android:process=":haha"></service>

        <provider
            android:name="com.example.testlibrary.contentprovider.PeopleProvider"
            android:authorities="com.example.peopleprovider"
            android:exported="true" />
    </application>

</manifest>