<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testlibrary">

    <application>
        <activity
            android:name="com.example.testlibrary.TestMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.testlibrary.CoroutineActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>