<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kotlinmvpdemo">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="${app_logo}"
        android:label="${app_name}"
        android:roundIcon="${app_logo}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".mvp.ui.activities.CheckPermissionsActivity"
            android:launchMode="singleTask"
            android:theme="@style/myTransparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.baselibrary.mvp.ui.activities.PermissionsActivity"
            android:theme="@style/myTransparent2" />
        <activity
            android:name=".mvp.ui.activities.MainActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask" />
        <activity android:name=".mvp.ui.activities.TestProductFlavorsActivity" />
        <activity android:name=".mvp.ui.activities.TestLoopViewActivity" />
        <activity android:name=".mvp.ui.activities.TestPictureSelectorMainActivity" />
        <activity android:name=".mvp.ui.activities.BasicGrammarActivity" />
        <activity android:name=".mvp.ui.activities.NDKPractiseActivity" />

        <service
            android:name="com.example.baselibrary.mvp.service.TaskRemovedService"
            android:exported="false"
            android:stopWithTask="false" /> <!-- package的ID配置 -->
        <meta-data
            android:name="package_id"
            android:value="${package_id}" /> <!-- app_version配置 -->
        <meta-data
            android:name="app_version"
            android:value="${app_version}" /> <!-- 注册自定义静态广播接收器 -->
        <receiver android:name="com.example.baselibrary.mvp.boradcastreceiver.NotificationBrodcaseReceiver">
            <intent-filter>
                <action android:name="notifacatio_close" />
            </intent-filter>
        </receiver> <!-- FileProvider配置使用 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.kotlinmvpdemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>